# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
env/

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env
.env.*

# AWS CLI downloads
aws/
*.zip
*.tar.gz